SourceCodeChangeSets/.idea/
SourceCodeChangeSets/SourceCodeChangeSets/bin
SourceCodeChangeSets/SourceCodeChangeSets/obj
SourceCodeChangeSets/SourceCodeChangeSetsTests/bin
SourceCodeChangeSets/SourceCodeChangeSetsTests/obj
SourceCodeChangeSets/SourceCodeChangeSets/*.txt
